/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require plugins/bootstrap/css/bootstrap.min
 *= require style
 *= require plugins/themes/default
 *= require plugins/ui-dialog
 *= require plugins/dialog-select
 *= require plugins/line-icons/line-icons
 *= require plugins/font-awesome/css/font-awesome.min
 *= require plugins/jquery.fileupload-ui
 *= require plugins/zTreeStyle
 *= require plugins/sky-forms/version-2.0.1/css/custom-sky-forms
 *= require plugins/fancybox/source/jquery.fancybox
 *= require_self
 */

.text-red{color:#ff0000;}
table td, .word_break {word-break: break-all;}
table th.select_all {width:36px;}
table th.index {width:56px;}
table th.status_badge {width:92px;}
table th.status_bar {width:142px;}
table th.date {width:88px;}
table th.time {width:140px;}
table th.cando {width:114px;}
.no-border {border: none;}
#add_content {display: none;}
.fa-chevron-circle-right,.fa-chevron-circle-down{cursor:pointer;}
.font_24px{font-size: 24px;}
#ztree_show{overflow:auto;}

/*
.step {border-bottom: 2px solid #eee; position: relative; z-index: 99; margin-bottom: 20px;	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);}
.step .nav-justified {position: relative; top: 2px;}
.step .nav-justified > .active > a {color: #006633;}
.step .nav-justified > li > a, .step .nav-justified > li > a:hover, .step .nav-justified > li > a:focus, .step .nav-justified > .active > a, .step .nav-justified > .active > a:hover, .step .nav-justified > .active > a:focus {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);}
.step .nav-justified > .active > a {border-bottom: 2px solid #72c02c;}
.step .nav-justified > li > a {padding: 9px 30px 9px 20px; color: #687074; font-size: 15px; font-weight: 400; text-transform: uppercase;}
*/